#profile .tableTextColor {
  color: lightgray;
  /* text-align: center; */
}
#profile > div {
  color: lightgray;
  text-align: center;
}
#profile h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: lightgray;
}
#profile table {
  margin-top: 10px;
}
#profile tbody {
  max-height: 343px;
}
#profileTableDiv {
  /* height should be calculated by the browser by the maximum height should be 400px */
  height: auto;
  max-height: 400px;
  overflow: auto;
}
#emptyIllustration {
  margin-top: 30px;
}
