.App {
  background-color: #002b36;
  height: 100vh;
  font-family: "Josefin Sans", "sans-serif";
  position: relative;
}
.App #heading {
  color: #839496;
}
#addBookBtn {
  margin-top: 10px;
  background-color: #b58900;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
#addBookBtn:hover {
  background-color: #9a7400;
}

@media (max-width: 540px) {
  .App {
    height: 950px;
  }
}
